:root {
    background-color: transparent;
}

#root {
    max-width: 1000vw;
    margin: 0 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: transparent;
    place-items: baseline;
}

.imagemJSX {
    width: 500px;
    height: 500px;
}

.barra {
    width: 100%;
    font-size: 2rem;
    height: 3rem;

    & > input {
        margin: 0;
        border: 0;
        padding: 0;

        background-color: transparent;

        font-size: 2rem;
        text-align: center;
    }
}

#controll .BarraTotal {
    & input {
        width: 30%;
    }
}

.BarraTotal {
    width: 100%;
    font-size: 2rem;
    height: 3rem;

    & input {
        margin: 0;
        border: 0;
        padding: 0;

        background-color: transparent;

        font-size: 2rem;
        text-align: center;
        width: 30%;

        transform: translateY(-130%);
        z-index: 100;
    }
    & p {
        transform: translateY(-130%);
        width: fit-content;
        display: flex;
        margin: 0;
        border: 0;
        padding: 0;
    }
}

#Barras {
    transform: translate(-13%, 10%);
}

#controll #Barras {
    display: flex;
    gap: 2%;
    width: 100%;

    & > div:nth-child(1) {
        width: 40%;
    }
    & > div:last-child {
        width: 60%;
    }
}

#total {
    display: flex;
    align-items: flex-end;
}

form {
    min-width: 100vw;
    width: 120vw;
    & #total {
        align-items: center;
        gap: 5%;

        & #Barras {
            transform: translate(0, 0);
        }
    }

    
}